<!-- excuse.component.html -->
<div class="min-h-[calc(92vh-4rem)] bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md mx-auto">
      <h2 class="text-3xl font-extrabold text-gray-900 mb-6">
        Registrar Excusa
      </h2>
      <form [formGroup]="excuseForm" (ngSubmit)="crearJustificacion()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Tipo de Excusa
          </label>
          <div class="flex items-center">
            <label class="mr-4">
              <input type="radio" formControlName="excuseType" value="PERMANENTE" required
                class="mr-2 leading-tight">
              Permanente
            </label>
            <label>
              <input type="radio" formControlName="excuseType" value="ESPORADICA" required
                class="mr-2 leading-tight">
              Esporádica
            </label>
          </div>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">
            Comida
          </label>
          <div class="flex items-center">
            <label class="mr-4">
              <input type="radio" formControlName="excuseClass" value="Desayuno" required
                class="mr-2 leading-tight">
              Desayuno
            </label>
            <label>
              <input type="radio" formControlName="excuseClass" value="Almuerzo" required
                class="mr-2 leading-tight">
              Almuerzo
            </label>
            <label>
              <input type="radio" formControlName="excuseClass" value="Comida" required
                class="mr-2 leading-tight">
              Comida
            </label>
          </div>
        </div>          
        <div class="mb-4">
          <label for="date" class="block text-gray-700 text-sm font-bold mb-2">
            Fecha inicio Excusa
          </label>
          <input id="date" formControlName="date1" type="date" required
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-[#67b93e]">
          </div>
          <div class="mb-4">
            <label for="date" class="block text-gray-700 text-sm font-bold mb-2">
              Fecha final Excusa
            </label>
            <input id="date" formControlName="date2" type="date" required
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-[#67b93e]">
            </div>
        <div class="mb-6">
          <label for="reason" class="block text-gray-700 text-sm font-bold mb-2">
            Motivo de la Excusa
          </label>
          <textarea id="reason" formControlName="reason" placeholder="Explica brevemente el motivo de tu excusa" required
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-[#67b93e]"
            rows="4"></textarea>
        </div>
        <div class="flex items-center justify-between">
          <button type="submit"
            class="bg-[#67b93e] hover:bg-[#5aa535] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Enviar Excusa
          </button>
        </div>
      </form>
    </div>
  </div>